

.btn {
    
    background-color: #E5FC5E;
        color: black;
        font-family: 'Amiko', sans-serif;
       
        font-weight: 700;
        font-size: 15px;
        
    
    }

    body {
        background-image: url('../images/Group 56.png');
        background-repeat: no-repeat;
    

      }


      .logo
      {
        max-width: 1048px;  
        height: auto;

      }

      body {
        background-color: #E5E5E5;
    }

    .navbarTest {
        border-bottom: solid ;
        border-color:whitesmoke;
        background-color: transparent;
        font-family: 'Amiko', sans-serif;
        color: black;
        font-weight: 700;
        font-size: 15px;
        
     
    }
    
    .card-body {
        background-color:#EEEBE8;
    
    }

    h4 {

        border-style: outset;
        border-bottom: whitesmoke;
    }



    .bgTest {
        color: black;
        font-family: 'Amiko', sans-serif;
    
    }

    .h5 {

        font-family: 'Amiko', sans-serif;
       
        font-weight: 700;
        font-size: 15px;
        color: black;
    
    }
    .text-center {
        font-family: 'Amiko', sans-serif;
        font-size: 30px;
        font-weight: 400;
        color: black;
    }
    .footer {
        border-style: outset;
        border-bottom: whitesmoke;
        text-align: right;
        padding-right: 10px;
        padding: 20px;
        font-family: 'Amiko', sans-serif;
        font-size: 15px;
        color: gray;
    }