@media (min-width: 992px) {
    .navbar {
        padding-right: 160px;
    }
    .navbar-brand {
        width: 160px;
    }
    .nav-item {
        padding: 0 40px;
    }
}
@media (min-width: 1200px) {
    .nav-item {
        padding: 0 80px;
    }
}

.btn {
    
    background-color: #E5FC5E;
        color: black;
    
    }

    body {
        background-image: url('../images/Group 56.png');
        background-repeat: no-repeat;
    

      }

      .logo
      {
        max-width: 1048px;  
        height: auto;

      }

      body {
        background-color:#E5C2C2;
    }

    .navbarTest {
        border-bottom: solid ;
        border-color:#E63CEA;
        background-color: #E5C2C2;
        font-family: 'Amiko', sans-serif;
        font-weight: 700;
        font-size: 15px;
     
    }
    